# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Dados (Seguindo arquitetura medalhão)
# Ignoramos os arquivos de dados para não subir arquivos pesados ou sensíveis
Dados/
logs/

# Excel de origem
Mensal.xlsx

# Artifacts e Logs internos
.gemini/
brain/
*.log

# Outros
.DS_Store
Thumbs.db
